html,body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Noto', sans-serif;
  }
   h1{
   	font-size: 0.5rem;
   }
		
   
  .header{
		background-color: #00AFEF;
			width: 100vw;
			height: 65px；
			position:relative;
		}
   .first{
   	font-size: 50px;
   	color: #fff;
   	font-family: sans-serif;
   	transform: scaleX(0.91932);
   	vertical-align: .1rem;
   	margin-left: 10px;
   	font-weight:bold;
   }
   .second{
   	font-size: 40px;
   	color: #fff;
   	font-family: sans-serif;
   	transform: scaleX(0.91932);
   	vertical-align: .1rem;
   	margin-left: -10px;
   	font-weight: bold;
   }
   .time{
   
   	text-align: right;
   margin-right: 270px;
   }
   .time #show{
   	 font-weight: 100;
   }
  .name{
  	margin-bottom: 70px;
  }
   .name1{
   	  	margin-top: 100px;

   }
   .name img{
   	vertical-align: -10px;
   margin-left: 100px;
   }

   .name{
   	font-size: .4rem;
   	vertical-align: -0.05rem;
   	margin-left: 1rem;
   }

	.board {
		margin-top:1em;
		margin-bottom:1em;
	 
	}
	.form-control{
		margin-left: -0.3rem;
		font-size: .3rem;
	}
	.btn{
		font-size: .3rem;
		margin-left: 2rem;
	}
	input {
		padding: .5em;
		margin: .5em;
	}
	select {
		padding: .5em;
		margin: .5em;
	}
	
	/*#signatureparent {
		color:darkblue;
	
		max-width:600px;
		padding:20px;
	}
	*/
	/*This is the div within which the signature canvas is fitted*/
	#signature {
		border: 0px dotted black;
		background-color:#fff;
		margin-left: 190px;
		margin-top: -45px;
		width:420px;
		height: 400px;
	}

    #signature img{
    	opacity: 0;
    }
	/* Drawing the 'gripper' for touch-enabled devices */ 
	html.touch #content {
		float:left;
		width:92%;
	}
	html.touch #scrollgrabber {
		float:right;
		width:4%;
		margin-right:2%;
		background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAFCAAAAACh79lDAAAAAXNSR0IArs4c6QAAABJJREFUCB1jmMmQxjCT4T/DfwAPLgOXlrt3IwAAAABJRU5ErkJggg==)
	}
	html.borderradius #scrollgrabber {
		border-radius: 1em;
	}
	  .done {
    color: #ddd;
  }
  ul.active li.done {
    display: none;
  }
  ul.completed li:not(.done) {
    display: none;
  }
  .on {
    color: red;
  }
.inputTodo{
	font-size: .3rem;
	width: 400px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-radius: 0px;
	border-bottom: 2px solid black;
}
.name{
	display: inline-block;

}
.three{
	display: inline-block;
	margin-left: .3rem;
}
.sign{
	margin-left:110px;
	margin-top: 1rem;
}
footer{
    margin-bottom: 20px;
	text-align: center;
	margin-right:  225px;


}
.reset1{
	position: absolute;
	top: 265px;
	
}
.reset2{
	position: absolute;
	
}
#tools{
	position: relative;
}
#scrollgrabber{
display: none;
}

.post{
	margin-left: 380px;
	margin-top:20px ;
}
section{
	display: relative
}
.left1{
	width: 10px;
	height: 10px;
	border-left: 1px dotted;
	border-top: 1px dotted;
	margin-left:190px;
	position: absolute;
	top: 500px;


	
}
.right1{
		width: 10px;
	    height: 10px;
	    border-right: 1px dotted;
	    border-top: 1px dotted;
	    margin-left:190px;
	    position: absolute;
	    right: 410px;
	    top: 500px;

	

}
.left2{
	width: 10px;
	height: 10px;
	border-left: 1px dotted;
	border-bottom: 1px dotted;
	margin-left:190px;
	position: absolute;
	top: 900px;


}
.right2{
	width: 10px;
	height: 10px;
	border-right: 1px dotted;
	border-bottom: 1px dotted;
	margin-left:190px;
	position: absolute;
	right: 410px;
    top: 900px;
}